Exercise 2 - Create a markdown cell with the title of the notebook. (1 pt)

# Final Project - Data Science Tools and Ecosystem

Exercise 3 - Create a markdown cell for an introduction. (1 pt)

## Introduction  
This notebook summarizes key concepts and tools in data science, including languages, libraries, and some basic calculations.

Exercise 4 - Create a markdown cell to list data science languages. (3 pts)

### Data Science Languages  
- Python  
- R  
- SQL  
- Julia  
- Scala

Exercise 5 - Create a markdown cell to list data science libraries. (3 pts)

### Data Science Libraries  
- Pandas  
- NumPy  
- Scikit-learn  
- TensorFlow  
- Matplotlib

Exercise 6 - Create a markdown cell with a table of Data Science tools. (3 pts)

### Data Science Tools  

| Tool           | Category        |
|----------------|-----------------|
| Jupyter        | Notebook IDE    |
| RStudio        | IDE             |
| Apache Spark   | Big Data Engine |
| Tableau        | Data Viz Tool   |
| VS Code        | Code Editor     |

Exercise 7 - Create a markdown cell introducing arithmetic expression examples. (1 pt)

### Arithmetic Expression Examples  
Below are some examples of simple arithmetic expressions using Python:
- Addition: `3 + 5`
- Subtraction: `10 - 2`
- Multiplication: `4 * 6`
- Division: `8 / 2`

In [28]:
# Arithmetic operations
code = compile("5 + 4", "<string>", "eval")
eval(code)
# Result: 9

9

Exercise 8 - Create a code cell to multiply and add numbers.(2 pts)

In [32]:
# Multiply and add numbers
result = (3 * 4) + 5
print("The result of (3 * 4) + 5 is:", result)

The result of (3 * 4) + 5 is: 17

Exercise 9 - Create a code cell to convert minutes to hours. (2 pts)

In [35]:
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

Exercise 10 -Insert a markdown cell to list Objectives.

### Objectives  

In this notebook, we will:  
- List popular programming languages for Data Science  
- List commonly used libraries in Data Science  
- Create tables of Data Science tools  
- Perform arithmetic operations  
- Convert minutes to hours using code  
- Share the notebook via GitHub

In [ ]:
Exercise 11 - Create a markdown cell to indicate the Authorâ€™s name.

### Author  
Vikram Jain

In [ ]:
Exercise 12 - Share your notebook through GitHub (3 pts)